#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

* {
  box-sizing: border-box;
}

label {
  font-size: 2rem;
  color: grey;
}

input {
  width: 100%;
  height: 3rem;
  border: 0.1rem rgb(210, 51, 188) solid;
  font-size: 1.5rem;
  padding: 1rem;
  background-color: rgb(243, 211, 216);
}

button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  color: white;
  background-color: black;
}

output {
  display: block;
  width: 100%;
  border: 0.1rem rgb(210, 51, 188) solid;
  font-size: 1.5rem;
  padding: 1rem;
  background-color: rgb(243, 211, 216);
}
